:root {
  /* COLORS */
  --iris: #4d5ae5;
  --ocean: #404bbf;
  --navyblue: #2e2f42;
  --green: #31d0aa;
  --slate: #434455;
  --light-slate: #8e8f99;
  --cornflower: #e7e9fc;
  --cloud: #f4f4fd;
  --navyblue-modal: rgba(46, 47, 66, 0.4);
  --grey: rgba(46, 47, 66, 0.7);
  --white: #ffffff;
  --dairy: #fcfcfc;
}
/* GENERAL STYLE */
body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
  line-height: 1.5;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}
a {
  text-decoration: none;
  color: #434455;
}
ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
img {
  display: block;
  width: 100%;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.is-open {
  display: flex;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  align-items: center;
  justify-content: center;
  background-color: rgba(46, 47, 66, 0.4);
  margin: 0;
  border: none;
  padding: 0;
  white-space: normal;
  clip: auto;
  clip-path: none;
  overflow: visible;
}

/* GENERAL LAYOUT */

.container {
  margin: 0 auto;
  width: 1158px;
  padding: 0 15px;
}

/* HEADER */
.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.header-container {
  display: flex;
  justify-content: space-between;
}
.navigation {
  display: flex;
  gap: 40px;
  align-items: center;
}
.navigation .logo {
  margin-right: 76px;
}
.nav-list {
  display: flex;
  gap: 40px;
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.nav-list-element {
  display: block;
  padding: 24px 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.studio-element {
  position: relative;
  color: #404bbf;
}
.studio-element::after {
  content: "";
  position: absolute;
  width: 100%;
  left: 0;
  bottom: -1px;
  height: 4px;
  background-color: #404bbf;
  border-radius: 2px;
}

.contacts-list {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #434455;
  display: flex;
  gap: 40px;
}
.logo {
  /* STYLE */
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
.logo-text-tp {
  /* STYLE */
  color: #2e2f42;
}
.logo-text-btm {
  /* STYLE */
  color: #f4f4fd;
}

.contacts {
  /* STYLE */
  font-style: normal;
  letter-spacing: 0.02em;
  align-self: center;
}
.contact-element {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact-element:hover,
.nav-list-element:hover,
.nav-list-element:focus,
.contact-element:focus {
  /* STYLE */
  color: #404bbf;
}

/* Main-page */
.main-text {
  /* STYLE */
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
  /* LAYOUT */
  max-width: 496px;
}
.call-to-action {
  /* LAYOUT */
  display: flex;
  gap: 48px;
  padding: 188px 0;
  /* STYLE */
  background-color: var(--navyblue);
  font-size: 56px;
  font-weight: 700;
  letter-spacing: 0.02em;
  color: #ffffff;
  max-width: 1440px;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office-sq.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.call-to-action .container {
  /* LAYOUT */
  display: flex;
  flex-direction: column;
  align-items: center;
}
.order-btn {
  /* STYLE */
  background-color: #4d5ae5;
  color: #ffffff;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  border-radius: 4px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  border: none;
  /* LAYOUT */
  margin-top: 46px;
  min-width: 169px;
  height: 56px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.order-btn:hover,
.order-btn:focus {
  /* STYLE */
  background-color: #404bbf;
}
/* Advantages section */

.advantages {
  padding: 120px 0;
}
.advantage-list {
  /* LAYOUT */
  display: flex;
  gap: 24px;
}
.advantage-icon-box {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 112px;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  background-color: #f4f4fd;
  margin-bottom: 8px;
}
.advantage-icon {
  display: block;
  box-sizing: border-box;
  margin: 24px 100px;
}
.advantage-list-item {
  flex-basis: calc((100% - 72px) / 4);
}
.advantage-header {
  /* STYLE */
  color: #2e2f42;
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}
.advantage-text {
  /* STYLE */
  font-size: 16px;
  letter-spacing: 0.02em;
}
/* Team section */
.section-header {
  /* STYLE */
  font-weight: 700;
  font-size: 36px;
  line-height: 111%;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
  /* LAYOUT */
  margin-bottom: 72px;
}
.team {
  /* LAYOUT */
  padding: 120px 0;
  /* STYLE */
  background-color: #f4f4fd;
}
.team-list {
  /* LAYOUT */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 24px;
}
.team-member {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
  width: calc((100% - 72px) / 4);
}
.team-member-info {
  /* LAYOUT */
  padding: 32px 0;
  /* STYLE */
  border-radius: 0 0 4px 4px;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  border-top: none;
}
.member-name {
  /* STYLE */
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  /* LAYOUT */
  margin-bottom: 8px;
}
.member-position {
  /* STYLE */
  font-size: 16px;
  letter-spacing: 0.02em;
  text-align: center;
}
.member-social-media-link {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.member-social-media-link:hover,
.member-social-media-link:focus {
  background-color: #404bbf;
}
.social-media-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-media-list-item {
  width: 40px;
  height: 40px;
}
.member-social-media-icon {
  fill: #f4f4fd;
  width: 16px;
  height: 16px;
}
/* Product section */
.our-portfolio {
  /* LAYOUT */
  padding: 120px 0;
}
.product-list {
  /* LAYOUT */
  display: flex;
  flex-wrap: wrap;
  row-gap: 48px;
  column-gap: 24px;
}
.product-list-item {
  /* layout */
  flex-basis: calc((100% - 48px) / 3);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.product-list-item:hover {
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}
.product-list-item-img {
  position: relative;
  overflow: hidden;
}
.product-list-item-description {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  padding: 40px 32px;
}
.product-list-item:hover .product-list-item-description {
  transform: translateY(0%);
}
.product-info {
  /* STYLE */
  border: 1px solid #e7e9fc;
  border-top: none;
  /* LAYOUT */
  margin-bottom: 8px;
  padding: 32px 16px;
}
.product-name {
  /* LAYOUT */
  padding: 32px 0 0 16px;
  margin-bottom: 8px;
  /* STYLE */
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.product-type {
  /* LAYOUT */
  padding: 0 0 32px 16px;
  /* STYLE */
  font-size: 16px;
  letter-spacing: 0.02em;
}
/* Footer */
.footer-context {
  /* STYLE */
  background-color: #2e2f42;
  padding: 100px 0;
}
.footer-container-box {
  display: flex;
  align-items: baseline;
  margin-left: 156px;
  gap: 80px;
}
.bottom-logo {
  display: inline-block;
  margin-bottom: 16px;
}
.footer-text {
  /* STYLE */
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #e7e9fc;
  /* LAYOUT */
  width: 264px;
}
.footer-social-media {
  padding: 40px 0px 100px 0px;
}
.footer-containers-title {
  margin: 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #ffffff;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}
.company-social-media-list {
  display: flex;
  gap: 16px;
}
.company-social-media-link:hover,
.company-social-media-link:focus {
  background-color: #31d0aa;
}
.footer-input-container {
  display: flex;
  align-items: baseline;
  gap: 24px;
}
.footer-input {
  padding: 8px;
  color: #fff;
  width: 264px;
  height: 40px;
  outline: none;
  background-color: transparent;
  border: 1px solid #fff;
  border-radius: 4px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
}
.footer-input::placeholder {
  font-size: 12px;
  line-height: 200%;
  letter-spacing: 0.04em;
  color: #fff;
}
.subscribe-btn {
  position: relative;
  margin: 0;
  padding: 0;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.modal-window {
  display: flex;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  align-items: center;
  justify-content: center;
  background-color: rgba(46, 47, 66, 0.4);
}
.modal-window-content {
  position: relative;
  background-color: #fcfcfc;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  width: 408px;
  height: 584px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.close-btn {
  /* LAYOUT */
  position: absolute;
  right: 24px;
  top: 24px;
  /* STYLE */
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.close-icon {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.close-btn:hover .close-icon,
.close-btn:focus .close-icon {
fill:#fff;
}
.close-btn:hover, .close-btn:focus {
  background-color: #404bbf;
}

.popup-text {
  /* STYLE */
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  color: #2e2f42;
  /* LAYOUT */
  padding: 72px 0 16px 0;
}
.modal-field-section {
  /* LAYOUT */
  display: flex;
  flex-direction: column;
  position: relative;
}
.form-label {
  /* STYLE */
  font-size: 12px;
  line-height: 117%;
  letter-spacing: 0.04em;
  color: #8e8f99;
  /* LAYOUT */
  margin-bottom: 4px;
}
.form-fields-container {
  /* LAYOUT */
  display: flex;
  flex-direction: column;
}
.form-field {
  /* LAYOUT */
  padding-left: 38px;
  margin-bottom: 8px;
  height: 40px;
  max-width: 360px;
  /* STYLE */
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  outline: none;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-field-section:hover .form-field,
.modal-field-section:focus  .form-field
.textarea:hover,
.textarea:focus {
  border: 1px solid #4d5ae5;
}
.textarea {
  max-width: 360px;
  max-height: 120px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  margin-bottom: 16px;
  resize: none;
  outline: none;
  padding: 8px;
}
.checkbox-element {
  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);
}
.agreement-element {
  position:relative;
  display: flex;
  align-items: baseline;
  margin-bottom: 24px;
  gap: 8px;
}
.privacy-policy {
  line-height: 133%;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #4d5ae5;
}
.agreement-icon {
  position:absolute;
  top: 0;
  border-radius: 2px;
border: 1px solid rgba(46, 47, 66, 0.4);
  fill:#ffffff;
  background-color: #ffffff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 4px 3px;
}
.agreement-icon:hover,
.agreement-icon:focus {
  border-radius: 2px;
background-color: #404bbf;
border: 1px solid #404bbf;
}
.send-btn {
  margin: 0;
  border-radius: 4px;
  padding: 16px 32px;
  width: 169px;
  height: 56px;
}
.modal-icon {
  position: absolute;
  top: 29px;
  left: 16px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-field-section:hover .modal-icon,
.modal-field-section:focus .modal-icon {
  fill:#4d5ae5;
}
